body {
    font-family: adobe-fan-heiti-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow-x: hidden;
    .syt-container {
        position: relative;

        nav.syt-nav {
            width: 100%;
            background-color: transparent;

            .container-fluid {
                @media (max-width:991px) {
                    padding: 0px;
                }

                .navbar-brand {
                    margin-left: 60px;

                    @media (max-width:1899px) {
                        margin-left: 40px;
                    }

                    @media (max-width:1549px) {
                        margin-left: 30px;
                    }

                    @media (max-width:1299px) {
                        margin-left: 20px;
                    }

                    @media (max-width:767px) {
                        margin-left: 5px;
                    }

                    img {
                        width: 380px;

                        @media (max-width:1679px) {
                            width: 100%;
                        }

                        @media (max-width:1549px) {
                            width: 300px;
                        }

                        @media (max-width:1299px) {
                            width: 250px;
                        }

                        @media (max-width:991px) {
                            width: 200px;
                        }

                        @media (max-width:767px) {
                            width: 150px;
                        }
                    }
                }

                .navbar-toggler {
                    background-color: #9ea4f15b;
                    border: #33376e 2px solid;
                    margin-right: 12px;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .navbar-collapse {
                    @media (max-width:991px) {
                        background-color: #9ea4f15b;
                    }
                }

                ul {
                    .nav-link {
                        font-size: 26px;
                        color: #FFFFFF;
                        padding-left: 52px;
                        padding-right: 50px;
                        transition: 0.5s ease-in-out;

                        @media (max-width:1899px) {
                            padding: 0px 40px;
                        }

                        @media (max-width:1679px) {
                            padding: 0px 30px;
                        }

                        @media (max-width:1549px) {
                            padding: 0px 20px;
                        }

                        @media (max-width:1299px) {
                            font-size: 20px;
                        }

                        @media (max-width:1199px) {
                            padding: 0px 10px;
                        }

                        @media (max-width:991px) {
                            padding: 15px 10px;
                            text-align: center;
                            color: #FFFFFF;
                        }

                        img {
                            width: 40px;

                            @media (max-width:1299px) {
                                width: 30px;
                            }
                        }

                        &:hover {
                            transform: translateY(-5px);
                            color: #FCFF9F;
                        }
                    }

                    .nav-link.active {
                        color: #F9EB21;
                    }
                }

            }
        }

        main.syt-main {
            .syt-banner {
                position: relative;
                width: 100%;
                height: calc(100vh - 90px);
                background-color: transparent;

                .syt-text {
                    position: absolute;
                    top: 20%;
                    left: 200px;
                    letter-spacing: 5px;

                    @media (max-width:1299px) {
                        left: 100px;
                    }

                    @media (max-width:991px) {
                        text-align: center;
                        left: calc(50% - 170px);
                    }

                    @media (max-width:575px) {
                        left: calc(50% - 140px);
                    }


                    button {
                        width: 230px;
                        height: 55px;
                        background-color: #F9EB21;
                        color: #000000;
                        font-size: 32px;
                        letter-spacing: 1px;
                        margin-top: 50px;
                        border-radius: 10px;
                        padding-top: 5px;
                        transition: 0.5s ease-in-out;

                        @media (max-width:1299px) {
                            margin-top: 30px;
                        }

                        @media (max-width:991px) {
                            padding-top: 0px;
                            margin-top: 10px;
                            width: 150px;
                            height: 35px;
                            font-size: 20px;
                        }

                        @media (max-width:575px) {
                            font-size: 18px;
                        }

                        &:hover {
                            background-color: #192D79;
                            color: #FCFF9F;
                        }

                        img {
                            width: 40px;
                            margin-right: 5px;

                            @media (max-width:991px) {
                                width: 30px;
                            }
                        }

                        .more-img-hover {
                            display: none;
                        }
                    }

                    .more-btn {
                        &:hover {
                            .more-img {
                                display: none;
                            }

                            .more-img-hover {
                                display: initial;
                            }
                        }
                    }

                    .wish-btn {
                        &:hover {
                            .more-img {
                                display: none;
                            }

                            .more-img-hover {
                                display: initial;
                            }
                        }
                    }

                    .syt-title {
                        font-size: 76px;
                        color: #FFFFFF;
                        text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                        margin-bottom: 10px;

                        @media (max-width:1299px) {
                            font-size: 60px;
                        }

                        @media (max-width:991px) {
                            font-size: 50px;
                        }

                        @media (max-width:575px) {
                            font-size: 40px;
                        }

                        @media (max-width:399px) {
                            font-size: 35px;
                        }
                    }

                    .syt-content {
                        font-size: 55px;
                        color: #FCEE21;
                        text-shadow: rgba(0, 0, 0, 0.5)2px 2px 5px;

                        @media (max-width:1299px) {
                            font-size: 40px;
                        }

                        @media (max-width:991px) {
                            font-size: 30px;
                        }

                        @media (max-width:575px) {
                            font-size: 20px;
                        }
                    }
                }

                #fade2 {
                    position: absolute;
                    font-size: 76px;
                    text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                    top: 0px;
                    left: 180px;
                    color: #F9EB21;

                    @media (max-width:1299px) {
                        // top: 251px;
                        left: 140px;
                        font-size: 60px;
                    }

                    @media (max-width:991px) {
                        font-size: 50px;
                        left: 135px;
                    }

                    @media (max-width:575px) {
                        font-size: 40px;
                        top: 0px;
                        left: calc(50% - 50px);
                    }

                    @media (max-width:399px) {
                        font-size: 35px;
                    }
                }
            }

            .syt-bg {
                position: absolute;
                width: 100%;
                height: 100vh;
                background-image: url("../img/sample4-BG.png");
                background-repeat: no-repeat;
                background-position: center;
                top: 0px;
                z-index: -1;
            }
            .syt-service{
                width: 100%;
                height: 100vh;
                // opacity: 0;
                transition: 0.5s ease-in-out;
                position: relative;
                color: #000;
                @media screen and (max-width: 991px) {
                    height: auto;
                }
        
                .container {
                    @media (min-width: 320px) {
                        max-width: 100%;
                    }
            
                    @media (min-width: 576px) {
                        max-width: 75%;
                    }
                    h2,h3 {
                        color: #006cae;
                    }
                    h3 {
                        font-weight: 600;
                    }
                    p {
                        font-size: 20px;
        
                        @media screen and (max-width: 1436px) {
                            font-size: 18px;
                        }
        
                        @media screen and (max-width: 991px) {
                            font-size: 16px;
                        }
                    }
        
                    a {
                        width: 160px;
                        height: 50px;
        
                        position: absolute;
                        bottom: 10px;
                        left: calc(50% - 80px);
                        padding: 12px;
        
                        font-size: 18px;
                        text-decoration: none;
        
                        border-radius: 10px;
                        background-color: #F79311;
                        color: #FFFFFF;
        
                        transition: 0.5s ease-in-out;
        
                        @media screen and (max-width: 991px) {
                            position: static;
                        }
        
                        &:hover {
                            background-color: #FFD600;
                            color: #5c5c5c;
                        }
                    }
                    .card-border {
                        border: none;
                    }
                    .hoverzoom:hover {
                        transform: scale(1.05);
                        border: none !important;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2)!important;
                    }
                    
                    .hovershadow {
                        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
                        border-radius: 4px;
                    }
                    .hoverzoom {
                        height: 650px;
                        padding: 20px;
                        transition: transform .5s linear;
                        @media screen and (max-width: 1436px) {
                            height: 700px;
                        }
        
                        @media screen and (max-width: 1161px) {
                            height: 750px;
                        }
        
                        @media screen and (max-width: 991px) {
                            height: auto;
                            margin-bottom: 20px;
                        }
        
                    }
                }
            }
        }

    }



    main {
        button {
            border: none;
        }
    }

    .syt-title {
        color: #FCEE21;
        font-size: 78px;
    }

    .syt-content {
        color: #FFFFFF;
        font-size: 54px;
    }

    .syt-show {
        display: none;

        @media (max-width:409px) {
            display: block;
        }
    }
}