body {
  font-family: adobe-fan-heiti-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  overflow-x: hidden;
  position: relative;
}

body nav.syt-nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid {
    padding: 0px;
  }
}

body nav.syt-nav .container-fluid .navbar-brand {
  width: 280px;
}

@media (max-width: 1549px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 250px;
  }
}

@media (max-width: 1299px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 230px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 200px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  body nav.syt-nav .container-fluid .navbar-brand {
    width: 150px;
  }
}

body nav.syt-nav .container-fluid .navbar-brand img {
  width: 100%;
}

body nav.syt-nav .container-fluid .navbar-toggler {
  background-color: #9ea4f15b;
  outline: #223e72 2px solid;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-toggler {
    margin-right: 12px;
  }
}

body nav.syt-nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body nav.syt-nav .container-fluid .navbar-collapse {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid .navbar-collapse {
    background-color: #6d7ac4c5;
  }
}

body nav.syt-nav .container-fluid ul li .nav-link {
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 30px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul li .nav-link {
    padding: 15px 10px;
    text-align: center;
    color: #FFFFFF;
  }
}

body nav.syt-nav .container-fluid ul li .nav-link img {
  width: 40px;
}

@media (max-width: 1299px) {
  body nav.syt-nav .container-fluid ul li .nav-link img {
    width: 30px;
  }
}

body nav.syt-nav .container-fluid ul li .nav-link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #f4f884;
}

body nav.syt-nav .container-fluid ul li .nav-link.active {
  color: #f4f884;
}

body nav.syt-nav .container-fluid ul li .nav-btn {
  background-color: #f4f884;
  color: #000000;
  border-radius: 30px;
  padding: 5px 20px;
  margin-top: 5px;
  font-size: 18px;
}

body nav.syt-nav .container-fluid ul li .nav-btn:hover {
  color: #f4f884;
  background-color: #000000;
}

@media (max-width: 1199px) {
  body nav.syt-nav .container-fluid ul li .nav-btn {
    padding: 5px 10px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul li .nav-btn {
    margin: 0px auto 20px;
    display: table;
  }
}

body nav.syt-nav .container-fluid ul .item-margin {
  margin-right: 250px;
}

@media (max-width: 1899px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 200px;
  }
}

@media (max-width: 1679px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 150px;
  }
}

@media (max-width: 1549px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 100px;
  }
}

@media (max-width: 1399px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul .item-margin {
    margin-right: 0px;
  }
}

body nav.syt-nav .container-fluid ul .item-margin-btn {
  margin-right: 20px;
}

@media (max-width: 1199px) {
  body nav.syt-nav .container-fluid ul .item-margin-btn {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  body nav.syt-nav .container-fluid ul .item-margin-btn {
    margin: 0px;
  }
}

body main.syt-main .syt-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

body main.syt-main .syt-banner .syt-text {
  position: absolute;
  top: 25%;
  left: 200px;
  letter-spacing: 5px;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text {
    left: 100px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text {
    text-align: center;
    top: 30%;
    left: calc(50% - 170px);
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text {
    top: 35%;
    left: calc(50% - 140px);
  }
}

body main.syt-main .syt-banner .syt-text button {
  width: 200px;
  height: 50px;
  background-color: #f4f884;
  color: #000000;
  font-size: 26px;
  letter-spacing: 1px;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text button {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text button {
    padding-top: 0px;
    margin-top: 10px;
    width: 150px;
    height: 35px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text button {
    font-size: 18px;
  }
}

body main.syt-main .syt-banner .syt-text button:hover {
  background-color: #192D79;
  color: #f4f884;
}

body main.syt-main .syt-banner .syt-text button img {
  width: 40px;
  margin-right: 5px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text button img {
    width: 30px;
  }
}

body main.syt-main .syt-banner .syt-text button .more-img-hover {
  display: none;
}

body main.syt-main .syt-banner .syt-text .more-btn:hover .more-img {
  display: none;
}

body main.syt-main .syt-banner .syt-text .more-btn:hover .more-img-hover {
  display: initial;
}

body main.syt-main .syt-banner .syt-text .wish-btn:hover .more-img {
  display: none;
}

body main.syt-main .syt-banner .syt-text .wish-btn:hover .more-img-hover {
  display: initial;
}

body main.syt-main .syt-banner .syt-text .syt-title {
  font-size: 50px;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 40px;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-banner .syt-text .syt-title {
    font-size: 35px;
  }
}

body main.syt-main .syt-banner .syt-text .syt-content {
  font-size: 42px;
  color: #f4f884;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner .syt-text .syt-content {
    font-size: 20px;
  }
}

body main.syt-main .syt-banner #fade2 {
  position: absolute;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  top: 0px;
  left: 140px;
  color: #f4f884;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner #fade2 {
    left: 135px;
  }
}

@media (max-width: 575px) {
  body main.syt-main .syt-banner #fade2 {
    font-size: 40px;
    top: 0px;
    left: calc(50% - 50px);
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-banner #fade2 {
    font-size: 35px;
  }
}

body main.syt-main .syt-banner .scroll-down {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  left: calc(50% - 85px);
  bottom: 30px;
  font-size: 24px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-banner .scroll-down {
    display: none;
  }
}

body main.syt-main .syt-banner .scroll-down i {
  display: block;
  -webkit-animation: arrow-animation 1s infinite linear;
          animation: arrow-animation 1s infinite linear;
}

body main.syt-main .syt-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../img/sample4-BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0px;
  z-index: -1;
}

body main.syt-main .syt-service {
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  color: #000;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  body main.syt-main .syt-service {
    height: auto;
  }
}

@media (min-width: 320px) {
  body main.syt-main .syt-service .container {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  body main.syt-main .syt-service .container {
    max-width: 75%;
  }
}

body main.syt-main .syt-service .container h2 {
  color: #006cae;
}

body main.syt-main .syt-service .container h3 {
  color: #FFFFFF;
  font-weight: 600;
}

body main.syt-main .syt-service .container p {
  font-size: 20px;
}

@media screen and (max-width: 1436px) {
  body main.syt-main .syt-service .container p {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  body main.syt-main .syt-service .container p {
    font-size: 16px;
  }
}

body main.syt-main .syt-service .container #card-1 {
  background-image: url("../img/service1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
}

body main.syt-main .syt-service .container #card-2 {
  background-image: url("../img/service2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35%;
}

body main.syt-main .syt-service .container #card-3 {
  background-image: url("../img/service3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 67.5%;
}

body main.syt-main .syt-service .container .card {
  position: relative;
}

body main.syt-main .syt-service .container .card:hover .card-body {
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 55%;
}

@media (max-width: 1299px) {
  body main.syt-main .syt-service .container .card:hover .card-body {
    padding-top: 90%;
  }
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .container .card:hover .card-body {
    height: auto;
    padding-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  body main.syt-main .syt-service .container .card {
    margin-bottom: 30px;
  }
}

body main.syt-main .syt-service .container .card .card-body {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0px;
  text-align: left;
  background-color: #0000008e;
  padding: 20px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .container .card .card-body {
    height: auto;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 399px) {
  body main.syt-main .syt-service .container .card .card-body {
    padding: 10px;
  }
}

body main.syt-main .syt-service .container .card .card-body .card-text {
  height: 70px;
  color: #FFFFAC;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .container .card .card-body .card-text {
    height: auto;
  }
}

body main.syt-main .syt-service .container .card .card-body a {
  height: 50px;
  display: inline;
  bottom: 20px;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #FFFFAC;
  color: #3b3b3b;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body main.syt-main .syt-service .container .card .card-body a:hover {
  background-color: #3b3b3b;
  color: #f4f884;
}

@media screen and (max-width: 991px) {
  body main.syt-main .syt-service .container .card .card-body a {
    display: inline-block;
  }
}

body main.syt-main .syt-service .container .card-border {
  border: none;
}

body main.syt-main .syt-service .container .hoverzoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: none !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
}

body main.syt-main .syt-service .container .hovershadow {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 4px;
}

body main.syt-main .syt-service .container .hoverzoom {
  height: 650px;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

@media (max-width: 991px) {
  body main.syt-main .syt-service .container .hoverzoom {
    height: 350px;
  }
}

body main.syt-main .syt-adventage {
  height: 100vh;
  background-image: url("../img/adventage.jpg");
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: color;
  position: relative;
}

body main.syt-main .syt-adventage h2,
body main.syt-main .syt-adventage h3 {
  padding-top: 30px;
  color: #006cae;
}

body main.syt-main .syt-adventage .adventage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main.syt-main .syt-adventage .adventage-container .adventage-card {
  margin-bottom: 60px;
  text-align: center;
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img {
  width: 150px;
  height: 100px;
  max-height: 150px;
  margin: 0 auto 10px;
}

@media screen and (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img {
    width: 75px;
    height: 50px;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-img img {
  height: 100%;
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
  width: 220px;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2D49A0;
  margin: 0px auto 10px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
    width: 180px;
    font-size: 20px;
    padding: 5px;
  }
}

@media screen and (max-width: 575px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-title {
    width: 145px;
    font-size: 16px;
  }
}

body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
  margin: auto;
  font-size: 18px;
  color: #2D49A0;
}

@media screen and (max-width: 767px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    width: 200px;
    font-size: 16px;
  }
}

@media screen and (max-width: 575px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    width: 150px;
  }
}

@media screen and (max-width: 399px) {
  body main.syt-main .syt-adventage .adventage-container .adventage-card .adventage-content {
    font-size: 14px;
  }
}

body main.syt-main .syt-adventage .adventage-other {
  width: 100%;
  height: 200px;
  background-color: #f5f9ff;
  position: absolute;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
  bottom: 0px;
}

@media (max-width: 991px) {
  body main.syt-main .syt-adventage .adventage-other {
    height: 100px;
    font-size: 18px;
    padding-top: 15px;
  }
}

body main.syt-main .syt-adventage .adventage-other .adventage-other-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #2b5fc0;
  color: #FFFFFF;
  font-size: 22px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 991px) {
  body main.syt-main .syt-adventage .adventage-other .adventage-other-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    bottom: 10px;
    left: calc(50% - 75px);
  }
}

body main.syt-main .syt-adventage .adventage-other .adventage-other-btn:hover {
  color: #2b5fc0;
  background-color: #afc6f1;
}

body main.syt-main .syt-works {
  height: 1000px;
  background-color: #b8c7e6;
}

body main.syt-main .syt-aboutus-contact {
  height: 1000px;
  background-color: #b8d5e6;
}

body footer.syt-footer {
  background-color: #fafbfd;
  padding: 60px;
  font-weight: 300;
}

body footer.syt-footer .footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  body footer.syt-footer .footer-flex {
    display: block;
    text-align: center;
  }
}

body footer.syt-footer .footer-flex .syt-logo {
  width: 300px;
}

@media screen and (max-width: 1199px) {
  body footer.syt-footer .footer-flex .syt-logo {
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  body footer.syt-footer .footer-flex .syt-logo {
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  body footer.syt-footer .footer-flex .syt-logo {
    margin: 0px auto 10px;
  }
}

body footer.syt-footer .footer-flex .syt-logo img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  body footer.syt-footer .footer-flex .contact-us {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 991px) {
  body footer.syt-footer .footer-flex .information {
    margin-bottom: 10px;
  }
}

body footer.syt-footer .footer-flex .icon {
  width: 40px;
  margin: 0 10px;
}

@media screen and (max-width: 767px) {
  body footer.syt-footer .footer-flex .icon {
    margin: auto;
  }
}

body footer.syt-footer .footer-flex .icon img {
  width: 100%;
}

body footer.syt-footer .footer-flex .main-title {
  font-size: 20px;
  color: #006cae;
}

body footer.syt-footer .footer-flex .title {
  color: #5c5c5c;
}

body footer.syt-footer .footer-flex .content {
  color: #888888;
}

body footer.syt-footer .copyright {
  color: #888888;
  text-align: center;
}

body .change-nav {
  background-color: #3172bd !important;
}

body .nav-no-bg {
  background-color: transparent !important;
}

body .container {
  max-width: 80%;
}

@media (max-width: 1299px) {
  body .container {
    max-width: 85%;
  }
}

@media (max-width: 991px) {
  body .container {
    max-width: 100%;
  }
}

body button {
  border: none;
}

body .syt-title {
  color: #FCEE21;
  font-size: 78px;
}

body .syt-content {
  color: #FFFFFF;
  font-size: 54px;
}

body .syt-show {
  display: none;
}

@media (max-width: 409px) {
  body .syt-show {
    display: block;
  }
}

body a {
  text-decoration: none;
}

@-webkit-keyframes scroll-down-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll-down-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow-animation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=index.css.map */