body {
    font-family: adobe-fan-heiti-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    overflow-x: hidden;


    position: relative;

    nav.syt-nav {
        width: 100%;
        background-color: transparent;
        position: fixed;
        z-index: 2;
        transition: 0.5s ease-in-out;

        .container-fluid {
            // padding: 0 60px;

            // @media (max-width:1899px) {
            //     padding: 0 40px;
            // }

            // @media (max-width:1549px) {
            //     padding: 0 30px;
            // }

            // @media (max-width:1299px) {
            //     padding: 0 20px;
            // }

            // @media (max-width:767px) {
            //     padding: 0 5px;
            // }

            .navbar-brand {
                // margin-left: 60px;

                // @media (max-width:1899px) {
                //     margin-left: 40px;
                // }

                // @media (max-width:1549px) {
                //     margin-left: 30px;
                // }

                // @media (max-width:1299px) {
                //     margin-left: 20px;
                // }

                // @media (max-width:767px) {
                //     margin-left: 5px;
                // }

                img {
                    width: 380px;

                    @media (max-width:1679px) {
                        width: 100%;
                    }

                    @media (max-width:1549px) {
                        width: 300px;
                    }

                    @media (max-width:1299px) {
                        width: 250px;
                    }

                    @media (max-width:991px) {
                        width: 200px;
                    }

                    @media (max-width:767px) {
                        width: 150px;
                    }
                }
            }

            .navbar-toggler {
                background-color: #9ea4f15b;
                border: #223e72 2px solid;
                // margin-right: 12px;

                &:focus {
                    box-shadow: none;
                }
            }

            .navbar-collapse {
                transition: 0.5s ease-in-out;
                @media (max-width:991px) {
                    background-color: #6d7ac4c5;
                }
            }

            ul {
                li {
                    .nav-link {
                        font-size: 26px;
                        color: #FFFFFF;
                        padding: 10px 30px;
                        transition: 0.5s ease-in-out;

                        // @media (max-width:1899px) {
                        //     padding: 10px 40px;
                        // }

                        // @media (max-width:1679px) {
                        //     padding: 10px 30px;
                        // }

                        @media (max-width:1549px) {
                            padding: 10px 20px;
                        }

                        @media (max-width:1399px) {
                            font-size: 20px;
                        }

                        @media (max-width:1199px) {
                            padding: 10px 5px;
                        }

                        @media (max-width:991px) {
                            padding: 15px 10px;
                            text-align: center;
                            color: #FFFFFF;
                        }

                        img {
                            width: 40px;

                            @media (max-width:1299px) {
                                width: 30px;
                            }
                        }

                        &:hover {
                            transform: translateY(-5px);
                            color: #FCFF9F;
                        }
                    }

                    .nav-link.active {
                        color: #F9EB21;
                    }

                    .nav-btn {
                        background-color: #F9EB21;
                        color: #000000;
                        border-radius: 30px;
                        padding: 10px 25px;

                        @media (max-width:1199px) {
                            padding: 10px 10px;
                        }

                        @media (max-width:991px) {
                            margin: 0px auto 10px;
                        }
                    }
                }

                .item-margin {
                    margin-right: 250px;

                    @media (max-width:1899px) {
                        margin-right: 200px;
                    }

                    @media (max-width:1679px) {
                        margin-right: 150px;
                    }

                    @media (max-width:1549px) {
                        margin-right: 100px;
                    }

                    @media (max-width:1399px) {
                        margin-right: 50px;
                    }

                    @media (max-width:991px) {
                        margin-right: 0px;
                    }
                }

                .item-margin-btn {
                    margin-right: 20px;

                    @media (max-width:1199px) {
                        margin-right: 10px;
                    }

                    @media (max-width:991px) {
                        margin: 0px;
                    }
                }
            }

        }
    }

    main.syt-main {
        .syt-banner {
            position: relative;
            width: 100%;
            height: calc(100vh - 90px);
            background-color: transparent;

            .syt-text {
                position: absolute;
                top: 20%;
                left: 200px;
                letter-spacing: 5px;

                @media (max-width:1299px) {
                    left: 100px;
                }

                @media (max-width:991px) {
                    text-align: center;
                    top: 30%;
                    left: calc(50% - 170px);
                }

                @media (max-width:575px) {
                    top: 35%;
                    left: calc(50% - 140px);
                }


                button {
                    width: 230px;
                    height: 55px;
                    background-color: #F9EB21;
                    color: #000000;
                    font-size: 32px;
                    letter-spacing: 1px;
                    margin-top: 50px;
                    border-radius: 10px;
                    padding-top: 5px;
                    transition: 0.5s ease-in-out;

                    @media (max-width:1299px) {
                        margin-top: 30px;
                    }

                    @media (max-width:991px) {
                        padding-top: 0px;
                        margin-top: 10px;
                        width: 150px;
                        height: 35px;
                        font-size: 20px;
                    }

                    @media (max-width:575px) {
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: #192D79;
                        color: #FCFF9F;
                    }

                    img {
                        width: 40px;
                        margin-right: 5px;

                        @media (max-width:991px) {
                            width: 30px;
                        }
                    }

                    .more-img-hover {
                        display: none;
                    }
                }

                .more-btn {
                    &:hover {
                        .more-img {
                            display: none;
                        }

                        .more-img-hover {
                            display: initial;
                        }
                    }
                }

                .wish-btn {
                    &:hover {
                        .more-img {
                            display: none;
                        }

                        .more-img-hover {
                            display: initial;
                        }
                    }
                }

                .syt-title {
                    font-size: 76px;
                    color: #FFFFFF;
                    text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                    margin-bottom: 10px;

                    @media (max-width:1299px) {
                        font-size: 60px;
                    }

                    @media (max-width:991px) {
                        font-size: 50px;
                    }

                    @media (max-width:575px) {
                        font-size: 40px;
                    }

                    @media (max-width:399px) {
                        font-size: 35px;
                    }
                }

                .syt-content {
                    font-size: 55px;
                    color: #FCEE21;
                    text-shadow: rgba(0, 0, 0, 0.5)2px 2px 5px;

                    @media (max-width:1299px) {
                        font-size: 40px;
                    }

                    @media (max-width:991px) {
                        font-size: 30px;
                    }

                    @media (max-width:575px) {
                        font-size: 20px;
                    }
                }
            }

            #fade2 {
                position: absolute;
                font-size: 76px;
                text-shadow: rgba(0, 0, 0, 0.5)5px 5px 5px;
                top: 0px;
                left: 180px;
                color: #F9EB21;

                @media (max-width:1299px) {
                    // top: 251px;
                    left: 140px;
                    font-size: 60px;
                }

                @media (max-width:991px) {
                    font-size: 50px;
                    left: 135px;
                }

                @media (max-width:575px) {
                    font-size: 40px;
                    top: 0px;
                    left: calc(50% - 50px);
                }

                @media (max-width:399px) {
                    font-size: 35px;
                }
            }
        }

        .syt-bg {
            position: absolute;
            width: 100%;
            height: 100vh;
            background-image: url("../img/sample4-BG.png");
            background-repeat: no-repeat;
            background-position: center;
            top: 0px;
            z-index: -1;
        }

        .syt-service {
            width: 100%;
            height: 1000px;
            // opacity: 0;
            transition: 0.5s ease-in-out;
            position: relative;
            color: #000;
            margin-bottom: 30px;

            @media screen and (max-width: 991px) {
                height: auto;
            }

            .container {
                @media (min-width: 320px) {
                    max-width: 100%;
                }

                @media (min-width: 576px) {
                    max-width: 75%;
                }

                h2 {
                    color: #006cae;
                }

                h3 {
                    color: #FFFFFF;
                    font-weight: 600;
                }

                p {
                    font-size: 20px;

                    @media screen and (max-width: 1436px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 991px) {
                        font-size: 16px;
                    }
                }

                a {
                    width: 160px;
                    height: 50px;

                    // position: absolute;
                    // bottom: 10px;
                    // left: calc(50% - 80px);
                    padding: 12px;

                    font-size: 18px;
                    text-decoration: none;

                    border-radius: 10px;
                    background-color: #FFFFAC;
                    color: #3b3b3b;

                    transition: 0.5s ease-in-out;

                    @media screen and (max-width: 991px) {
                        position: static;
                    }

                    &:hover {
                        background-color: #FFD600;
                        color: #5c5c5c;
                    }
                }

                #card-1 {
                    background-image: url("../img/service1.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 20%;
                }

                #card-2 {
                    background-image: url("../img/service2.jpeg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 35%;
                }

                #card-3 {
                    background-image: url("../img/service3.jpeg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 67.5%;
                }

                .card {
                    position: relative;
                    // height: 650px;
                    @media screen and (max-width: 991px) {
                        // height: 350px;
                        margin-bottom: 30px;
                    }
                    .card-body {
                        width: 100%;
                        position: absolute;
                        bottom: 0px;
                        text-align: left;
                        background-color: #4c7db6de;
                        padding: 20px;
                        border-bottom-left-radius: .25rem;
                        border-bottom-right-radius: .25rem;
                        .card-text {
                            color: #FFFFAC;
                        }
                    }

                }

                .card-border {
                    border: none;
                }

                .hoverzoom:hover {
                    transform: scale(1.05);
                    border: none !important;
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2) !important;
                }

                .hovershadow {
                    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                    border-radius: 4px;
                }

                .hoverzoom {
                    height: 650px;
                    transition: transform .5s linear;

                    @media screen and (max-width: 991px) {
                        height: 350px;
                    }

                    // @media screen and (max-width: 991px) {
                    //     // height: auto;
                    //     margin-bottom: 20px;
                    // }

                }
            }
        }

        .syt-adventage {

            h2,
            h3 {
                color: #006cae;
            }

            .adventage-container {
                display: flex;
                flex-wrap: wrap;

                .adventage-card {
                    margin-bottom: 60px;
                    text-align: center;

                    .adventage-img {
                        width: 150px;
                        height: 100px;
                        max-height: 150px;
                        margin: 0 auto 10px;

                        @media screen and (max-width: 767px) {
                            width: 75px;
                            height: 50px;
                        }

                        img {
                            height: 100%;
                        }
                    }

                    .adventage-title {
                        width: 220px;
                        font-size: 24px;
                        font-weight: 600;
                        color: #FFFFFF;
                        background-color: #2D49A0;
                        margin: 0px auto 10px;
                        padding: 10px;
                        @media screen and (max-width: 767px) {
                            width: 160px;
                            font-size: 20px;
                            padding: 5px;
                        }

                        @media screen and (max-width: 575px) {
                            width: 145px;
                            font-size: 16px;
                        }
                    }

                    .adventage-content {
                        // width: 200px;
                        margin: auto;
                        font-size: 18px;
                        color: #2D49A0;
                        @media screen and (max-width: 767px) {
                            width: 200px;
                            font-size: 16px;
                        }

                        @media screen and (max-width: 575px) {
                            width: 150px;
                        }

                        @media screen and (max-width: 399px) {
                            font-size: 14px;
                        }
                    }
                }
            }

            .adventage-other {
                width: 100%;
                height: 100px;
                background-color: #8ba9d6;
            }
        }

        .syt-works {
            height: 1000px;
            background-color: #b8c7e6;
        }

        .syt-aboutus-contact {
            height: 1000px;
            background-color: #b8d5e6;
        }
    }

    footer.syt-footer {
        background-color: #fafbfd;
        padding: 60px;
        font-weight: 300;

        .footer-flex {
            width: 100%;
            display: flex;
            // justify-content: space-around;
            // align-items: center;
            justify-content: space-around;
            @media screen and (max-width: 767px) {
                display: block;
                text-align: center;
            }

            .syt-logo {
                width: 300px;
                @media screen and (max-width: 1199px) {
                    width: 200px;
                }
                @media screen and (max-width: 991px) {
                    width: 150px;
                }
                @media screen and (max-width: 767px) {
                    margin: 0px auto 10px;
                }
                img {
                    width: 100%;
                }
            }
            .contact-us {
                // margin: 0 10px;
                @media screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }
            }

            .information {
                // margin: 0 10px;
                @media screen and (max-width: 991px) {
                    margin-bottom: 10px;
                }
            }

            .icon {
                width: 40px;
                margin: 0 10px;
                @media screen and (max-width: 767px) {
                    margin: auto;
                }
                img {
                    width: 100%;
                }
            }
            // .footer-flex-phone {
            //     width: 100%;
            //     display: flex;
            //     margin-left: 50px;
            //     justify-content: space-around;

            //     @media screen and (max-width: 991px) {
            //         width: 50%;
            //         display: block;
            //     }


            // }



            .main-title {
                font-size: 20px;
                color: #006cae;
            }

            .title {
                color: #5c5c5c;
            }

            .content {
                color: #888888;
            }
        }

        .copyright {
            color: #888888;
            text-align: center;
        }
    }

    .change-nav {
        background-color: #3172bd !important;
    }
    .nav-no-bg {
        background-color: transparent !important;
    }

    .container {
        max-width: 80%;

        @media (max-width: 991px) {

            max-width: 100%;
        }

        // @media (min-width: 320px) {
        //     max-width: 100%;
        // }

        // @media (min-width: 576px) {
        //     max-width: 75%;
        // }
    }

    button {
        border: none;
    }


    .syt-title {
        color: #FCEE21;
        font-size: 78px;
    }

    .syt-content {
        color: #FFFFFF;
        font-size: 54px;
    }

    .syt-show {
        display: none;

        @media (max-width:409px) {
            display: block;
        }
    }

    a {
        text-decoration: none;
    }
}